<header>
  <div class="site-header">
    <!-- Logos section -->
    <div class="logos-section">
      <div class="logo-left">
        <img src="{{ "aibex_logo-hirsch.svg" | relURL }}" alt="AIBEX Logo">
        <span>AIBEX</span>
      </div>
      
      
      <div class="logo-right">
        <img src="{{ "unifr-logo.png" | relURL }}" alt="Partner Logo">
      </div>
    </div>
    
    <!-- Menu section -->
    <div class="menu-section">
      <ul>
        {{ range site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name | safeHTML }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</header>