{{ $key := .Get 0 }}
{{ $person := index site.Data.people $key }}

<div class="card-person">
  <figure class="person">
    <img src="{{ $person.image }}" alt="{{ $person.name }}">
  </figure>

  <div class="card-details">
    <span class="card-name">{{ $person.name }}</span> <br/>
      {{ with $person.job }}
      {{ $person.job }}<br>
      {{ end }}
    <div class="card-contact">
      {{ with $person.mail }}
      <span><img src="/icons/mail.svg" alt="Email"> {{ . }}</span>
      {{ end }}
      {{ with $person.office }}
      <span><img src="/icons/office.svg" alt="Office"> {{ . }}</span>
      {{ end }}
     <ul class="card-icons">
      {{ with $person.web }}
      <li>
        <a href="{{ . }}"><img src="/icons/home.svg" alt="Homepage"></a>
      </li>
      {{ end }}
      {{ with $person.orcid }}
      <li>
        <a href="https://orcid.org/{{ . }}"><img src="/icons/orcid.svg" alt="ORCID"></a>
      </li>
      {{ end }}
      {{ with $person.github }}
      <li>
        <a href="https://github.com/{{ . }}"><img src="/icons/github.svg" alt="GitHub"></a>
      </li>
      {{ end }}
      {{ with $person.bluesky }}
      <li>
        <a href="https://bsky.app/profile/{{ . }}"><img src="/icons/bluesky.svg" alt="Bluesky"></a>
      </li>
      {{ end }}
      {{ with $person.twitter }}
      <li>
        <a href="https://twitter.com/{{ . }}"><img src="/icons/x.svg" alt="X"></a>
      </li>
      {{ end }}
    </ul>
        </div>

  </div>
</div>
